<!DOCTYPE html>
<html>
   <head>
      <title>Sequin Report</title>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://use.fontawesome.com/6c8fb3a849.js"></script>
      __CSS__
   </head>
   <body>
      <div id="x-root" class="x-root">
         <div id="top" class="site">
            <div class="x-main full" role="main">
               <article id="post-8544" class="page type-page hentry">
                  <div class="entry-content content">
                     <div id="cs-content" class="cs-content">
                        <div id="x-section-1" class="x-section"
                           style="margin: 0px;padding: 0px; background-color: transparent;">
                           <div class="x-section"
                              style="margin: 20px 0px;padding: 0px; background-color: transparent;"></div>
                           <div class="x-container max width" style="padding: 0px;">
                              <div class="x-column x-sm x-1-1" style="padding: 0px;">
                                 <div class="x-text">
                                    <h5><strong><span style="color: #000000;">Sequin Report</span></strong>
                                    </h5>
                                    <p><span style="color: #999999;">__Date__ (automatic generation)</span>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">ANAQUIN - library and analysis details</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div id='refs'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspan='2'>REFERENCE FILES</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Sequin index</td>
                                                         <td class='acell'>__Reference index__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspan='2'>LIBRARY INFORMATION</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Version</td>
                                                         <td class='acell'>__Version__</td>
                                                      </tr>													   
                                                      <tr>
                                                         <td class='ahead'>Instrument ID</td>
                                                         <td class='acell'>__Instrument ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Run number</td>
                                                         <td class='acell'>__Run number__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Flowcell ID</td>
                                                         <td class='acell'>__Flowcell ID__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Lane</td>
                                                         <td class='acell'>__Lane__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div id='user'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspan='2'>USER-SUPPLIED FILES</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Input file (first)</td>
                                                         <td class='acell'>__Input file (first)__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Input file (second)</td>
                                                         <td class='acell'>__Input file (second)__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div id='params'>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspane=2>ANAQUIN PARAMETERS</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>K-mer length</td>
                                                         <td class='acell'>__K-mer length__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Threshold</td>
                                                         <td class='acell'>__Threshold__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th colspan='2'>PARTITION SUMMARY</th>
                                                         <th>OUTPUT FASTQ FILES</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Sample reads</td>
                                                         <td class="partb">__Sample reads__</td>
                                                         <td class='acell'>__Sample reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Sequin reads</td>
                                                         <td class="partb">__Sequin reads__</td>
                                                         <td class='acell'>__Sequin reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Ladder reads</td>
                                                         <td class="partb">__Ladder reads__</td>
                                                         <td class='acell'>__Ladder reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Vector reads</td>
                                                         <td class="partb">__Vector reads__</td>
                                                         <td class='acell'>__Vector reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Structural reads</td>
                                                         <td class="partb">__Structural reads__</td>
                                                         <td class='acell'>__Structural reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Immune reads</td>
                                                         <td class="partb">__Immune reads__</td>
                                                         <td class='acell'>__Immune reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>HLA reads</td>
                                                         <td class="partb">__HLA reads__</td>
                                                         <td class='acell'>__HLA reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Information reads</td>
                                                         <td class="partb">__Information reads__</td>
                                                         <td class='acell'>__Information reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Mitochondria reads</td>
                                                         <td class="partb">__Mitochondria reads__</td>
                                                         <td class='acell'>__Mitochondria reads path__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Dilution</td>
                                                         <td colspan=2>__Dilution__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Total reads</td>
                                                         <td colspan=2>__Total reads__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">STATISTICS - library quality</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <img onerror='this.style.display = "none"' src="__F5__" class="graph2">
                                             </div>
                                             <div>
												<b>Figure Above.</b> Density-plot of insertion size for sample and sequin reads.
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>								 
								<!--
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">LADDER - library quality</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <img onerror='this.style.display = "none"' src="__F1__" class="graph2">
                                                <img onerror='this.style.display = "none"' src="__F2__" class="graph">
                                                <img onerror='this.style.display = "none"' src="__F3__" class="graph">
                                             </div>
                                             <div>
												<b>Figure Above.</b> Scatter-plot illstrates the k-mer counts relative to the copy-number for the synthetic ladders. <b>(middle)</b> Density plot illstrates the distribution of k-mers for each copy-number within the synthetic ladder.
                                             </div>
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead' colspan='2'>Synthetic Ladder</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <tr>
                                                         <td class='ahead'>Slope</td>
                                                         <td class='acell'>__Slope_1__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>R2</td>
                                                         <td class='acell'>__R2_1__</td>
                                                      </tr>
                                                      <tr>
                                                         <td class='ahead'>Mean Ratio</td>
                                                         <td class='acell'>__MR__</td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                             <div>
                                                <b>Table Below.</b> Summary statstics for each repeat copy within the synthetic ladder.						 
                                             </div>
                                             <div>
                                                <table style='margin-top:20px'>
                                                   <thead>
                                                      <tr>
                                                         <th class='ghead'>Copy</th>
                                                         <th class='ghead'>Mean</th>
                                                         <th class='ghead'>CV</th>
                                                         <th class='ghead'>SD</th>
                                                         <th class='ghead'>Ratio</th>
                                                         <th class='ghead'>Min</th>
                                                         <th class='ghead'>25th</th>
                                                         <th class='ghead'>Median</th>
                                                         <th class='ghead'>75th</th>
                                                         <th class='ghead'>Max</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      __T1__
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
							     -->
                                 <div class="x-accordion">
                                    <div class="x-accordion-group" data-cs-collapse-group="">
                                       <div class="x-accordion-heading"><a class="x-accordion-toggle collapsed" data-cs-collapse-toggle="">SEQUIN QUANTIFICATION</a></div>
                                       <div class="x-accordion-body collapse" data-cs-collapse-content="">
                                          <div class="inner">
                                             <div>
                                                <table>
                                                   <thead>
                                                      <tr>
                                                         <th class='ahead'>SOMATIC VARIANTS</th>
                                                         <th></th>
                                                      </tr>
                                                   </thead>
                                                </table>
                                             </div>
                                             <div class='soma'>
                                                <div>
                                                   <table>
                                                      <thead>
                                                         <tr>
                                                            <th class='ahead' colspan='2'>Somatic Ladder</th>
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                         <tr>
                                                            <td class='ahead'>Slope</td>
                                                            <td class='acell'>__SEQUIN SOMATIC - LIBRARY QUALITY-Slope__</td>
                                                         </tr>
                                                         <tr>
                                                            <td class='ahead'>R2</td>
                                                            <td class='acell'>__SEQUIN SOMATIC - LIBRARY QUALITY-R2__</td>
                                                         </tr>
                                                      </tbody>
                                                   </table>
                                                </div>
                                                <div>
                                                   <img onerror='this.style.display = "none"'src="__F4__" class="graph">
                                                </div>
                                                <div style='margin-top:10px;margin-bottom:10px;margin-left:0px;margin-right:0px;text-align:justify'>
                                                   <b>Figure Above.</b> Scatter-plot illustrates the observed vs expected allele frequency measaured for sequin variants.
                                                </div>
                                                
												<!--
												<div style='margin-top:10px;margin-bottom:10px;margin-left:0px;margin-right:0px;text-align:justify'>
                                                   <b>Table Below.</b> Summary statistics for identified sample and sequin variants. <b>Exp. Freq</b>=Expected Allele Frequency, <b>Obs. Freq</b>=Observed Allele Frequency, <b>TP</b>=True Positives, <b>FN</b>=False Negatives, <b>Ref Count</b>=Median kmer count for reference allele, <b>Var Count</b>=Median kmer count for variant allele.
                                                </div>
                                                <div>
                                                   <table>
                                                      <thead>
                                                         <tr>
                                                            <th class='shead'>Exp. Freq</th>
                                                            <th class='shead'>Obs. Freq</th>
                                                            <th class='shead'>TP</th>
                                                            <th class='shead'>FN</th>
                                                            <th class='shead'>Ref Count</th>
                                                            <th class='shead'>Var Count</th>
                                                         </tr>
                                                      </thead>
                                                      <tbody>
                                                         __T2__
                                                      </tbody>
                                                   </table>
                                                </div>
												-->												
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </article>
            </div>
         </div>
      </div>
      <script>
         $(function() {
            $(".x-accordion-heading").on("click", function() {
                var el = $(this).parent().find(".x-accordion-body"), collapsed = $(this).parent().find(".x-accordion-toggle");
                el.slideToggle(300);
                if (collapsed.hasClass("collapsed")) {
                    collapsed.removeClass("collapsed");
                } else {
                    collapsed.addClass("collapsed");
                }
            });
         });
      </script>
   </body>
</html>
<!-- <<@@@@>> -->
